nav img {
  height: 50px;
  width: 50px;
}

#hero {
  height: calc(100vh - 5.625rem);
  background-image: url("/img/test.jfif");
  background-position: center;
  background-size: cover;
}

#oftevatn-hero {
  height: calc(100vh - 5.625rem);
  background-image: url("/img/cabin.jfif");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

#hero:before,
#oftevatn-hero:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#hero h2,
#hero p,
#hero a,
#oftevatn-hero h2,
#oftevatn-hero p,
#oftevatn-hero a {
  position: relative;
}

nav {
  position: absolute;
  z-index: 1;
}

main .card {
  max-width: 50rem;
}

.card .btn-outline-primary {
  width: 5.5rem;
}

.active {
  border: 1px solid #4b88a0;
  border-radius: 8px;
  // box-shadow: 1px 1px 2px #4b88a0;
}
