nav img {
  height: 50px;
  width: 50px;
}

#hero {
  height: calc(100vh - 90px);
  background-image: url("/img/test.jfif");
  background-position: center;
  background-size: cover;
}

#hero:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#hero h2,
#hero p,
#hero a {
  position: relative;
}

nav {
  position: absolute;
  z-index: 1;
}

main .card {
  max-width: 800px;
}
