body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav img {
  height: 50px;
  width: 50px;
}

.flag {
  height: 20px;
  width: 25px;
}

.flag-dropdown {
  height: 15px;
  width: 20px;
}

.dropdown i {
  color: #4b88a0;
}

.scrollspy {
  z-index: 1;
}

.on-top {
  z-index: 100;
}

#hero {
  height: calc(100vh - 5.625rem);
  width: 100%;
  position: relative;
}

#hero video,
#hero img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

#oftevatn-hero {
  height: calc(90vh - 10rem);
  background-image: url("/img/cabin.jfif");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

#oftevatn-hero:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 5.5rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#hero:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#hero h2,
#hero p,
#hero a,
#oftevatn-hero h2,
#oftevatn-hero p,
#oftevatn-hero a {
  position: relative;
}

nav {
  position: absolute;
  z-index: 1;
}

main .card {
  max-width: 50rem;
}

.card .btn-outline-primary {
  width: 5.5rem;
}

.active {
  background: #4b88a0;
  color: #fff;
  border-radius: 4px;
}

.active:hover {
  color: #fff;
}

footer i {
  transition: color 0.2s ease-out;
}

footer i:hover {
  color: #4b88a0;
}

.mirrored-destination {
  flex-direction: row-reverse;
}

#map-container-google-1 {
  width: 50rem;
  height: 30rem;
}

#map-container-google-1 iframe {
  height: 100%;
  width: 100%;
}

.card-body a:hover {
  color: white;
}

.feature-icon i {
  font-size: 60px;
}

#om-oss p {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.img-container {
  display: flex;
  justify-content: center;
}

.bilde {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

.bilde img {
  object-fit: cover;
}

.card-text {
  font-size: 0.9rem;
}

.fa-2 {
  font-size: 14.5rem;
}

#t1,
#t2,
#t3,
#t4,
#t5 {
  position: relative;
  top: 0.8rem;
  font-size: 1.2rem;
}

#t1 {
  right: 0.2rem;
}

#t2 {
  left: 0.7rem;
}

#t3 {
  left: 0.5rem;
}

#t4 {
  right: 0.2rem;
}

#t5 {
  right: 1.9rem;
}

#img-slider {
  height: 32rem;
  width: 70rem;
}

#icon-grid {
  margin-top: 1rem;
}

.slash {
  position: absolute;
}

#oftevatn-title {
  color: #000;
  transition: all 0.2s ease-out;
}
#oftevatn-title:hover {
  color: #4b88a0;
}

.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
}

#book-calender button {
  width: 120px;
  height: 40px;
}

.adresse img {
  position: relative;
  bottom: 4rem;
}

#hyllTitle {
  font-size: 4rem;
}

#hyllText {
  font-size: 1.2rem;
}

.contact-us-header {
  position: relative;
  bottom: 3.5rem;
}

#hytter a {
  width: 7.4rem;
}

#desc1 {
  max-width: 50rem;
}

#book-calender input {
  width: 10rem;
}

@media (max-width: 1200px) {
  #map-container-google-1 {
    width: 45rem;
    height: 25rem;
  }

  #hyllTitle {
    font-size: 3rem;
  }

  #hyllText {
    font-size: 1.02rem;
  }
}

@media (max-width: 1000px) {
  .adresse {
    text-align: center;
    margin-bottom: 1rem;
  }

  #img-slider {
    height: 20rem;
    width: 60rem;
  }

  .adresse img {
    display: none;
  }

  #hyllTitle {
    font-size: 2.6rem;
  }
  #hyllText {
    font-size: 0.96rem;
  }
}

@media (max-width: 768px) {
  .nav-link.active,
  .nav-item .active,
  .nav-item,
  .dropdown {
    padding-left: 0.7rem;
  }

  #faq {
    margin-bottom: 3rem;
  }

  .image-padding {
    margin-bottom: 2rem;
  }

  .bilde {
    max-width: 30rem;
  }

  #img-slider {
    height: 15rem;
    width: 60rem;
  }

  #hyllTitle {
    font-size: 2.3rem;
  }

  #hyllText {
    font-size: 0.8rem;
  }

  #fasiliteter .col {
    padding: 0 8rem;
  }
}

@media (max-width: 576px) {
  #img-slider {
    height: 10rem;
    width: 30rem;
  }

  #map-container-google-1 {
    width: 30rem;
    height: 30rem;
  }
}
@media (max-width: 470px) {
  #t1,
  #t2,
  #t3,
  #t4,
  #t5 {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  #t1,
  #t2,
  #t3,
  #t4,
  #t5 {
    font-size: 0.85rem;
  }
}

@media (max-width: 400px) {
  #scroller .nav-item {
    padding: 0 0;
  }

  #hyllTitle {
    font-size: 1.9rem;
  }

  #hyllText {
    font-size: 0.75rem;
  }
}
